body {
  margin: 0;
  background-color: black;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(79, 32, 233, 0.61);
  color: white;
}

.movieSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.searchMovieInputLabel {
  font-size: 30px;
  color: white;
  font-weight: 700;
  margin-right: 20px;
}

#searchMovieInput {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(87, 152, 250, 0.38);
}

.searchMovieBtn {
  width: 50px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background-color: rgba(87, 152, 250, 0.38);
}

.searchMovieBtn:hover {
  background-color: rgba(251, 116, 116, 0.84);
  cursor: pointer;
}

.movieCardLine {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 30%);
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(228, 175, 178, 0.69);
  padding: 10px;
  height: 800px;
  border-radius: 10px;
  margin: calc(10% / 6);
}

.movieCard > .movieImage {
  border-radius: 10px;
}

.movieCard > .movieTitle {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movieCard > .movieInfo {
  font-weight: 100;
  display: flex;
  margin-right: auto;
  padding-bottom: 20px;
}

.movieCard > .movieRatio {
  font-weight: 100;
  color: rgb(204, 204, 204);
  display: flex;
  margin-right: auto;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .header {
    font-size: 10px;
  }
  .searchMovieInputLabel {
    font-size: 15px;
  }
  #searchMovieInput {
    font-size: 15px;
    padding: none;
  }
  .movieCardLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .movieCard {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 10px;
  }
  .searchMovieInputLabel {
    font-size: 15px;
  }
  #searchMovieInput {
    font-size: 15px;
    padding: none;
  }
  .movieCardLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .movieCard {
    width: 80%;
    height: 70%;
  }
}
